<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nomal</key>
		<string>mvideo.png</string>
		<key>high</key>
		<string>mvideoh.png</string>
		<key>menu_kind</key>
		<integer>0</integer>
		<key>frame</key>
		<string>{{251,93},{25,25}}</string>
	</dict>
	<dict>
		<key>nomal</key>
		<string>mserial.png</string>
		<key>high</key>
		<string>mserialh.png</string>
		<key>menu_kind</key>
		<integer>1</integer>
		<key>frame</key>
		<string>{{224,52},{25,25}}</string>
	</dict>
	<dict>
		<key>nomal</key>
		<string>mmovie.png</string>
		<key>high</key>
		<string>mmovieh.png</string>
		<key>menu_kind</key>
		<integer>2</integer>
		<key>frame</key>
		<string>{{186,22},{25,25}}</string>
	</dict>
	<dict>
		<key>nomal</key>
		<string>mrank.png</string>
		<key>high</key>
		<string>mrankh.png</string>
		<key>menu_kind</key>
		<integer>3</integer>
		<key>frame</key>
		<string>{{136,10},{25,25}}</string>
	</dict>
	<dict>
		<key>nomal</key>
		<string>mcartoon.png</string>
		<key>high</key>
		<string>mcartoonh.png</string>
		<key>menu_kind</key>
		<integer>4</integer>
		<key>frame</key>
		<string>{{85,22},{25,25}}</string>
	</dict>
	<dict>
		<key>nomal</key>
		<string>menter.png</string>
		<key>high</key>
		<string>menterh.png</string>
		<key>menu_kind</key>
		<integer>5</integer>
		<key>frame</key>
		<string>{{43,52},{25,25}}</string>
	</dict>
	<dict>
		<key>nomal</key>
		<string>mmusic.png</string>
		<key>high</key>
		<string>mmusich.png</string>
		<key>menu_kind</key>
		<integer>6</integer>
		<key>frame</key>
		<string>{{18,93},{25,25}}</string>
	</dict>
	<dict>
		<key>nomal</key>
		<string>mmyi.png</string>
		<key>high</key>
		<string>mmyi.png</string>
		<key>menu_kind</key>
		<integer>7</integer>
		<key>frame</key>
		<string>{{207,103},{25,25}}</string>
	</dict>
	<dict>
		<key>nomal</key>
		<string>mmenu.png</string>
		<key>high</key>
		<string>mmenu.png</string>
		<key>menu_kind</key>
		<integer>8</integer>
		<key>frame</key>
		<string>{{136,54},{25,25}}</string>
	</dict>
	<dict>
		<key>nomal</key>
		<string>msearch.png</string>
		<key>high</key>
		<string>msearch.png</string>
		<key>menu_kind</key>
		<integer>9</integer>
		<key>frame</key>
		<string>{{63,103},{25,25}}</string>
	</dict>
	<dict>
		<key>nomal</key>
		<string>mhome.png</string>
		<key>high</key>
		<string>mhome.png</string>
		<key>menu_kind</key>
		<integer>10</integer>
		<key>frame</key>
		<string>{{134,103},{25,25}}</string>
	</dict>
</array>
</plist>
